*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
:root{
    --blak: rgba(0,0,0,0.87);
    --colorText: rgb(26, 115, 232);
}
/*ARRIBA LOS ESTILOS GENERALES*/

header{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;

}
.header-space{
    min-width: auto;
    height: 100%;
    flex-grow: 1;
}
.header-nav--list{
    width: 260px;
    height: 100%;
}
.header-ul--list{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.header-ul--list a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--blak);
}
.header-ul--list span{
    width: 20px;
    height: 20px;
    position: absolute; 
    top: 16px;
    right: 65px;
    background-image: url('./aseets/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-ul--list img{
    width: 34px;
    height: 34px;
    position: absolute;
    top: 8px;
    padding: 2px;
    border-radius: 30px;
}
/*ARRIBA LOS ESTILOS DEL HEADER*/
main{
    width: 100%;
    height: 90vh;
    padding: 20px;
}
.main-containen-section{
    width: 100%;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-section--input{
    width: 100%;
    max-width: 500px;
    height: 45px;
    position: relative;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
}
.container-section--input input{
    width: 85%;
    height: 100%;
    border: none;
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
    outline: none;
}
.container-section--input .busqueda{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: calc(50% - 9px);
    background-image: url('./aseets/search.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-section--input .microfono{
    width: 20px;
    height: 22px;
    position: absolute;
    top: calc(50% - 12px);
    background-image: url('./aseets/google-mic.svg');
}
    /*ARRIBA LOS ESTILOS DEL BUSCADOR DE GOOGLE CHROME*/

.main-edit--chrome{
    width: 190px;
    height: 35px;
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgb(89 73 30 / 16%);
}
.main-edit--chrome span{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 7px;
    background-image: url('./aseets/icon_pencil.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.main-edit--chrome p{
    font-size: 1.3rem;
    position: absolute;
    right: 12px;
    color: var(--colorText);
}
